body {
  /* background-color: rgb(250, 250,250); */
  /* background-image: url(images/stars_glare_black_204142_4608x3456.jpg);
  background-size: contain; */
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 770px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
  .video{
    
  }
}
